/***** FONTS *****/
@import url(http://fonts.googleapis.com/css?family=Raleway);

/***** COMMON *****/
body {
    background-color: rgb(228, 230, 245);
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.container {
    width: 760px;
    margin: auto;
}

@media (max-width: 760px) {
    .container { width: 95%;  }
}

a {
    text-decoration: none;
    color: #3ba791;
}

a:hover{
    color: #6cbbab;
}

h1 {
    font-size: 40px;
    line-height: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    margin-bottom: 30px;
}

.collapsed {
    display: none;
}

.center {
    text-align: center;
}

/**Navigation**/
.nav {
    text-align: center;
    padding: 5px 0 0 0;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.title .date {
    color: grey;
}
