---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Our variables
$header-text-color: white;
$header-background-color: #56687C;

$font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-p: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font-size:   14px;
$line-height: 1.6;

$link-color: #006daf;
$font-color: #101010;

$spacing-unit:     28px;

$content-width: 750px;


// Import partials from `sass_dir` (defaults to `_sass`)
/*** CSS SHARED ***/
@import "reset";
@import "common";
@import "header";
@import "footer";
@import "post";
@import "image";

/*** CSS PAGE SPECIFIC ***/
@import "about";
@import "posts";
