---
layout: default
---
<div class="page-title">
    <h1>Welcome</h1>
</div>
<p>
    I am Joe Schueller. I graduated from UW-Platteville with a BS in Computer Science. I'm now working full-time at Northwestern Mutual in downtown Milwaukee.
</p>
<p>
    <a href="{{ site.baseurl }}/about.html">More about me</a>
</p>

<h1>Recent posts</h1>
<div class="posts-list">
{% for post in site.posts %}
    <div class="posts-post-title">
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    </div>
    <div class="posts-post-data">
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if post.author %} •
        <span>{{ post.author }}</span>
        {% endif %}
    </div>
{% endfor %}
</div>
