/*Generic Styles*/
body {
    background: #f0efed url(../images/bg.jpg) repeat-x;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    line-height: 25px;
}

h1, h2, h3, h4, h5 {
    margin: 25px 0;
}

h2 {
    font-size: 41px;
    color: #2f231e;
    padding-bottom: 25px;
    margin-top: 45px;
    border-bottom: 1px solid #cec5c0;
}

h3 {
    color: #745459;
    font-size: 30px;
    line-height: 33px;
}

h4 {
    color: #2f231e;
    line-height: 20px;
    font-size: 16px;
    text-transform: uppercase;
}

hr {
    background: none;
    border: 1px solid #cec5c0;
    margin: 34px 0;
}

p {
    color: #645a56;
    font-size: 13px;
    font-family: arial;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#container {
    width: 1002px;
    margin: auto;
    text-align: left;
    position: relative;
    background: #f8f7f5 url(../images/containerBG.jpg) repeat-x;
}

/* NAVIGATION */
#nav {
    float: right;
    height: 111px;
    margin: 10px;
    margin-bottom: 0;
}

#nav li {
    float: left; /* Make nav horizontal */
    font-size: 11px;
    /*font-family: arial; Not really needed because it is alread in the parent*/
    text-align: center;
    margin: 20px 90px 20px 20px;
    /*margin-right: 90px;*/
    width: 37px;
    list-style-type: none;
}

#nav li a {
    color: #c7b18d;
    display: block;
    padding-top: 45px;
    text-transform: uppercase;
    text-align: center;
}

#li_home {
	background: url(../images/home-trans.png) no-repeat 0 0;
}

#li_work {
    background: url(../images/work-trans.png) no-repeat 0 0;
}

#li_about {
    background: url(../images/about-trans.png) no-repeat 0 0;
}

#li_contact {
    background: url(../images/contact-trans.png) no-repeat 10px 0;
    margin-right: 23px;
    width: 60px;
}

#nav li a {
    color: #c7b18d;
    /*display: block;*/
    /*padding-top: 45px;*/
    text-transform: uppercase;
    text-align: center;
}

/* SLOGAN */
#slogan {
    height: 145px;
    clear: both;
}

#slogan h1 {
    margin: 0 0 0 165px;
    background: url(../images/logo-trans.png) no-repeat;
    width: 124px;
    height: 67px;
    position: relative;
    z-index: 10;
    text-indent: -99999px; /*  Show text off the left side of the screen.
                            Allows Search Engine to see text but not the user */
    top: 40px;
}

#slogan h1 a {
    display: block;
    width: 127px;
    height: 67px;
}

#slogan img {
    position: absolute;
    top: -87px;
    left: -40px;
}

#slogan p {
    margin: -37px 200px 0 319px;
    padding-left: 27px;
    padding-top: 5px;
    font-size: 18px;
    color: #a68a7d;
    border-left: 1px solid #4f3b33;
}

#slogan a {
    color: white;
}

#li_home {

}
