/***COMMON***/
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: black;
}

h1 {
    font-size: ($font-size * 2.5);
    line-height: ($line-height * .8);
    margin-top: ($spacing-unit * 2.25);
}

h2 {
    font-size: ($font-size * 2);
    line-height: ($line-height * 0.8);
    margin-top: ($spacing-unit * 2);
}

h3 {
    font-size: ($font-size * 1.5);
    line-height: ($line-height * 0.75);
    margin-top: ($spacing-unit * 1.75);
}

h4 {
    font-size: ($font-size * 1.2);
    line-height: ($line-height 0.75);
    margin-top: ($spacing-unit * 1.5);
    font-style: italic;
}

/*** MAIN CONTENT ***/
.main-content .page-title h1 {
  margin-top: $spacing-unit * .25;
  margin-bottom: 0;
}

.main-content img {
  max-width: 100%;
}

.main-content p {
  margin-bottom: 1.3em;
  font-family: $font-family-p;
}

.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem;
}

.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
}

.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.main-content .highlight {
  margin-bottom: 1rem;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
}

.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal;
}

.main-content ul, .main-content ol {
  margin-top: 0;
}

.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #5F6B70;
  border-left: 0.3rem solid #dce6f0;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote > :last-child {
    margin-bottom: 0;
}

.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.main-content table th {
    font-weight: bold;
}

.main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec;
}

.main-content dl {
  padding: 0;
}

.main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-content dl dd {
    padding: 0;
    margin-bottom: 1rem;
}

.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

/***MAIN CONTENT LARGE***/
@media screen and (min-width: $content-width) {
    .main-content {
        max-width: $content-width;
        padding: 0 $spacing-unit;
        margin: 0 auto;
        font-size: $font-size * 1.3;
    }
}

/***MAIN CONTENT SMALL***/
@media screen and (max-width: $content-width) {
    .main-content {
        width: 100%;
        padding: 0 5%;
        font-size: $font-size * 1.3;
    }
}
