/*** FOOTER ***/
footer {
    font-size: $font-size * 1.15;
    text-align: center;
}

/***FOOTER-CONTENT LARGE***/
@media screen and (min-width: $content-width) {
    .footer-content {
        max-width: $content-width;
        padding: ($spacing-unit * .2) $spacing-unit ($spacing-unit * 1.5) $spacing-unit;
        margin: ($spacing-unit * 2) auto 0 auto;
        border-top: 4px solid #d9d9d9;
    }
}

/***FOOTER-CONTENT SMALL***/
@media screen and (max-width: $content-width) {
    .footer-content {
        width: 100%;
        padding: ($spacing-unit * .2) 5% ($spacing-unit * 1.5) 5%;
        margin-top: $spacing-unit * 2;
        font-size: $font-size * 1.15;
        text-align: center;
        border-top: 4px solid #d9d9d9;
    }
}

footer a {
    color: lighten($link-color, 20%);
}
