/****INDEX****/
.index-title {
    text-align: center;
    padding-top: 30px;
}

.index-subtitle {
    color: #808080;
    text-align:center;
}

.index-list {
    padding-top: 50px;
    width: $skinny-index-list-witdh;
    margin: auto;
}

@media (max-width: $skinny-index-list-witdh-breakpoint) {
    .container { width: 90%;  }
}
