/**** POSTS ****/
.posts-list {
    margin: auto;
}

.posts-list h3 {
    margin-top: $spacing-unit;
}

.posts-post-title {
    margin-left: 10%;
    margin-right: 10%;
}

.posts-post-title h3 {
    margin-bottom:0;
}

.posts-post-data{
    color: lighten($font-color, 20%);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}
