/***POST***/
.post-title {
    text-align: center;
}

.post-title h1 {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * .2;
}

.post-data {
    color: lighten($font-color, 20%);
    text-align: center;
    margin-bottom: $spacing-unit * .5;
}

.post-image {
    height: auto;
    max-width: 100%;
    margin: auto;
    margin-top: $spacing-unit * 1;
    margin-bottom: $spacing-unit * 1;
}

.post-related {
    margin-bottom: $spacing-unit * 1.5;
}

.post-related .indent {
    margin-left: $spacing-unit;
    margin-top: 0;
}

.post-related hr, .post-comments hr {
    margin-top: $spacing-unit * 2;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: lighten($font-color, 40%);
}

.post-comments hr {
    margin-bottom: $spacing-unit * 2;
}

.post-related-data {
    color: lighten($font-color, 20%);
}
